<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Person - Update</title>
  </head>
  <body>

    <h1>Person - Update</h1>

    <form method="POST" action="/simple-crud/update/{{person_id}}">

      <input placeholder="First Name" name="firstName" value="{{first_name}}" />
      <input placeholder="Last Name" name="lastName" value="{{last_name}}" />
      <input placeholder="Age" name="age" value="{{age}}" />

      <button>Save</button>

    </form>

    <p><a href="/simple-crud/">Back to the list</a></p>

  </body>
</html>
